<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<connectionStrings>

		<add
		  name="SchoolDB"
		  connectionString="Server=DESKTOP-Q0IIDSC;Database=school;Trusted_Connection=True;TrustServerCertificate=True;"
		  providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>

</configuration>